*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("https://wallpapercave.com/wp/wp9142232.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 160px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#highscoreBox{
    position: absolute;
    top: 59px;
    right: 120px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(236, 213, 170), rgba(236, 198, 167, 0.76));
    width: 85vmin;
    height: 75vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    touch-action: manipulation; }

.head{
    background: linear-gradient(black, brown);
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 16px;
}

.snake{
    background: linear-gradient(brown, black);
    border:.25vmin solid white;
    border-radius: 50px;
}

.food{
    background: linear-gradient(red, yellow);
    border:.25vmin solid black;
    border-radius: 8px;
}

#controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.control-button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: black; 
    color: white; 
    cursor: pointer;
}

.control-button:hover {
    background-color: #333; 
}